---
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Analytics />
    <title>烧瑚烙饼的自留地</title>
  </head>
  <body>
    <slot />
  </body>
  <footer>
    <p style="background:none;height: 5%;position: fixed;bottom: 0px;width: 100%;text-align: center;"><a
        class="banquan"
        style="color:#000;"
        href="https://beian.miit.gov.cn/"
        target="_blank">蜀ICP备2025120814号-2</a>
    </p>
  </footer>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 97%;
  }
</style>
